// vars
$html-font-size: 16px;
$containerWidth: 1520px;
$containerPadding: 25px;
$font: "Gilroy";
// colors vars
$primary: #e91d1f;
$bg: #ce0d0f;
$text: rgba(40,40,40, .65);
$dark: #282828;

// media vars
$xl: 1441px;
$lg: 1024px;
$md1: 992px;
$md: 768px;
$md3: 578px;
$md4: 375px;
$md5: 320px;

// @function vh($pxValue) {
//     $vh_1440: calc( stripUnit($pxValue)vh / 9);
//     @return #{$vh_1440};
// }

// mixins{functions}
// @function rem($fz) {
//     $rem:($fz / $html-font-size);
//     @return (floor($rem * 10) / 10) + rem;
// }