// Gilroy Font
@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url(../fonts/Gilroy-Light.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url(../fonts/Gilroy-Regular.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url(../fonts/Gilroy-Medium.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url(../fonts/Gilroy-Semibold.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url(../fonts/Gilroy-Bold.woff2);
}

@import 'vars';

@mixin cards-container {
    gap: 15px;
    flex-wrap: wrap;
}

// global styles
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $text;
    font-family: $font, sans-serif;
    font-weight: 400;
    font-size: $html-font-size;
    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3, h4 {
    font-weight: 600;
    span {
        display: block;
        font-weight: 500;
    }
}

.page-template-default,
.page-template-page-contact {
    h1, h2, h3 {
        color: $dark;
        text-transform: capitalize;
    }
    h1 {
        margin-bottom: 30px;
        @media(min-width: $lg) {
            margin-bottom: 40px;
        }
    }
    h2, h3, h4 {
        margin: 15px 0 10px;
        @media(min-width: $lg) {
            margin: 25px 0 20px;
        }
    }
    p {
        margin-bottom: 8px;
        @media(min-width: $lg) {
            margin-bottom: 12px;
        }
    }
    .page__content {
        padding-bottom: 60px;
        @media(min-width: $lg) {
            padding-bottom: 130px;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: $containerWidth + ($containerPadding * 2);
    padding: 0 $containerPadding;
    margin: 0 auto;
    @media(min-width: $lg) {
        max-width: calc(1670vw / 19.2);
    }
    @media(min-width: $xl) {
        max-width: calc(1570vw / 19.2);
    }
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: inherit;
}
input,
textarea {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}
.section-title {
    font-size: 22px;
    line-height: 1.35;
    color: $dark;
    text-transform: capitalize;
    @media (min-width: $lg) {
        font-size: calc(50vw / 19.2);
    }
    &_light {
        color: #fff;
    }
}

.book {
    display: block;
    cursor: pointer;
    border: none;
    background: $dark;
    color: #fff;
    padding: 16px 32px;
    border-radius: 10px;
    transition: background 0.3s, box-shadow .3s;
    font-weight: 600;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0px 9px 35px rgba(40, 40, 40, 0.15);
    min-width: 100%;
    @media (min-width: $lg) {
        height: 52px;
        min-width: 221px;
        font-size: calc(17vw / 19.2);
    }
    &:hover {
        box-shadow: none;
    }
    &:active {
        background: #444;
    }
    &_light {
        background: #fff;
        color: $dark;
        box-shadow: none;
        &:hover {
            box-shadow: 0px 9px 35px rgba(40, 40, 40, 0.15);
        }
        &:active {
            background: rgba(255, 255, 255, 0.75);
        }
    }
}

// LOCATIONS ARCHIVE
.locations-archive {
    padding: 60px 0;
    @media (min-width: $lg) {
        padding: 130px 0;
    }
    h2 {
        color: $dark;
        &:not(:last-child) {
            margin-bottom: 15px;
            @media (min-width: $lg) {
                margin-bottom: 25px;
            }
        }
    }
}

.error404 {
    background: url('../img/thank_bg_img.jpg') center / cover no-repeat;
    color: #fff;
    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: url('../img/thank_before_img.svg') bottom right / cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .wrapper {
        position: relative;
        z-index: 2;
    }
    .header {
        .container  {
            justify-content: center;
        }
        .custom-logo {
            filter: brightness(25);
        }
    }
    .footer {
        border-top: rgba(255, 255, 255, 0.2);
    }
    .footer-link,
    h3 {
        color: #fff;
        span {
            filter: invert(1);
        }
    }
    .footer-socials__item,
    .footer-bottom__company img {
        filter: invert(1);
    }
    .footer__scroll-btn {
        display: none;
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $bg;
}

// easy notification
.easy-notification-bar {
    background: transparent !important;
    border-bottom: 2px solid $primary;

    .easy-notification-bar-button {
        a {
            background: transparent;
            font-weight: 400;
        }
    }
}